layout {
    focus-ring {
        active-color "#e5c36c"
        inactive-color "#989080"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e5c36c"
        inactive-color "#989080"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e5c36c"
        inactive-color "#989080"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e5c36c80"
    }
}

